/*
 * MMM-mvgmunich
 *
 * By Simon Crnko
 * MIT Licensed.
 *
 */

.stationColumn {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 240px;
}

.mvgmunich tr.normal {
    color: white;
}

.mvgmunich tr.gray {
    color: dimgray;
}

.mvgmunich td.tram {
    background: url(resources/tram.svg) no-repeat 0 0;
    width: 30px;
    padding-bottom: 5px;
    background-size: 25px;
}

.mvgmunich td.sbahn {
    background: url(resources/s-bahn.svg) no-repeat 0 0;
    width: 30px;
    padding-bottom: 5px;
    background-size: 25px;
}

.mvgmunich td.bus {
    background: url(resources/bus.svg) no-repeat 0 0;
    width: 30px;
    padding-bottom: 5px;
    background-size: 25px;
}

.mvgmunich td.ubahn {
    background: url(resources/u-bahn.svg) no-repeat 0 0;
    width: 30px;
    padding-bottom: 5px;
    background-size: 25px;
}

.mvgmunich td.empty {
    color: dimgray;
    font-size: 16px;
    width: 30px;
    padding-bottom: 5px;
    background-size: 25px;
}

.mvgmunich td.timing {
    text-align: right;
}