.stationColumn {
    color: white;
    padding-left: 10px;
}

.mvgmunich .inMinColumn {
    font-family: "Roboto Condensed", "sans-serif";
    font-weight: 300;
    padding-left: 14px;
    text-align: right;
}
