/*
 * MMM-mvgmunich
 *
 * By Simon Crnko
 * MIT Licensed.
 *
 */

.stationColumn {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 240px;
}

.mvgmunich tr.normal {
    color: var(--color-text);
}

.mvgmunich tr.gray {
    color: var(--color-text-dimmed);
}

.mvgmunich span.icon {
    display: flex;
    width: 100%;
    text-align: center;
}

.mvgmunich span.icon img {
    height: 1.3em;
    width: auto;
    vertical-align: middle;
    background: linear-gradient(90deg, var(--color-background) 50%, transparent 50%);
}

.mvgmunich span.icon span {
    flex-grow: 1;
    font-weight: bold;
    padding: 0 0.3em 0 0.3em;
}

.mvgmunich td.empty {
    color: dimgray;
    font-size: 16px;
    width: 30px;
    padding-bottom: 5px;
    background-size: 25px;
}

.mvgmunich td.timing {
    text-align: right;
    color: var(--color-text-bright);
}

.mvgmunich tr.gray td.timing {
    color: var(--color-text-dimmed);
}

.mvgmunich td.delay {
    color: var(--color-text-dimmed);
    vertical-align: top;
    font-size: var(--font-size-small);
}
